 /* .top{
    background-color:#262626;
    width:100%;
    height :100%;
}

a{
    text-decoration: None;
    color:#F9F9FB;
}
a:hover{
    color:#000000;
}
.menu{
    color:#FFFFFF;
	list-style-type:none;
	font-family: impact;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
}
.menu li{
	display: inline-block;
}
.menu li:hover{
    background-color:#EEEEEE;
}
*/

ul {
  list-style: none;
  margin: 0;
  padding-left: 0; /*убираем отступы*/
  margin-top:25px; /*делаем отступ сверху*/
  background:#FF4444; /*добавляем фон всему меню (заменив этот параметр, вы поменяете цвет всего меню)*/
  height: 50px; /*задаем высоту*/
}
a {
  text-decoration: none; /*убираем подчеркивание текста ссылок*/
  background:#FF4444; /*добавляем фон к пункту меню (заменив этот параметр, вы поменяете цвет всех пунктов меню)*/
  color:#fff; /*меняем цвет ссылок*/
  padding:0px 15px; /*добавляем отступ*/
  font-family: arial; /*меняем шрифт*/
  line-height:50px; /*ровняем меню по вертикали*/
  display: block;
  border-right: 1px solid #F36262; /*добавляем бордюр справа*/
  -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
  -o-transition: all 0.3s 0.01s ease;
  -webkit-transition: all 0.3s 0.01s ease;

}
a:hover {
  background:#D43737;/*добавляем эффект при наведении*/
}
li {
  display: inline-block; /*Размещаем список горизонтально для реализации меню*/
}
