.table_item {
	border:2px solid black;
	border-color:black;
	text-align:center;
	border-collapse: collapse;
	width: 100%;

}
.table_item tr, th , td{
    border: 1px solid black; 
   }
.table_item thead{
	background:#262626;
	color:#FFFFFF;
}

.table_item  tr:hover{
	background:#35FF5D;
}

