<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <link href="{% static "shop/css/style.css" %}" rel="stylesheet">
    <title>Товары</title>
</head>
<body>
 <div align="center">
     <h3>Таблица товаров</h3>
<br>
 <form action={% url "find" %} method="post">
    {% csrf_token %}
    Поиск <input type="text" name="find" placeholder="Названия товара">
    <input type="submit" value="Найти товар"><br>
</form>
     <br>
{% if latest_question_list %}
    <table class="table_item">
    <thead>
    <tr>
        <th>Названия товара </th>
        <th>Местоположения товара</th>
        <th>Цена</th>
        <th>Количество</th>
    </tr>
                </thead>
    {% for x in latest_question_list %}
        <tr>
        <td>{{x.name}}</td>
        <td>{{x.storage}}</td>
        <td>{{x.price}}</td>
        <td>{{ x.amount}}</td>
        </tr>
    {% endfor %}

    </table>
{% else %}
    <p>Товаров в наличии нет</p>
{% endif %}
 </div>
</body>
</html>