<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная каса</title>
<!    {% load staticfiles %}
   <link href="{% static "shop/css/index.css" %}" rel="stylesheet">>
</head>
<body>
        <ul>
            <li><a href={% url "index" %}>Главная</a> </li>
            <li><a href={% url "detali" %}> Детали</a></li>
            <li><a href={% url "service" %}>Услуги</a></li>
        </ul>

Каса
<div>
    <form action={% url "buy" %} method="post">
        {% csrf_token %}
        <br>
        магазин <select name="shop">
        <option>Дорогожичи</option>>
    </select>>продавец <input name="seller" type="text">
        </br>
        <br>Товар <textarea name="item"> tovar</textarea>></br>
        <br>Количество <input name="price" type="text"> </br>
        <input type="submit" value="Добавить"><br>
    </form>
</div>
</body>
</html>