<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Услуги</title>
     {% load staticfiles %}
    <link href="{% static "shop/css/style.css" %}" rel="stylesheet">
</head>
<body>
<div align="center">
{% if latest_question_list %}
    <table class="table_item">
    <thead>
    <tr>
        <th>Названия услуги </th>
        <th>Цена</th>
        <th>Валюта</th>
    </tr>
                </thead>
    {% for x in latest_question_list %}
        <tr>
        <td>{{x.name}}</td>
        <td>{{x.price}}</td>
        <td>{{ x.currency}}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>Товаров в наличии нет</p>
{% endif %}
</div>
</body>
</html>